*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.forms{
    background: linear-gradient(to left, #ba7453, #d1a894);
}

.slider{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background:linear-gradient(to left, #ba7453, #d1a894);
    z-index: -1;
}

nav{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color:white;
    align-items: center;
    text-transform: uppercase;
}

#logo{
     grid-column: 2/3;
     font-size:24px;
}
.login{
    justify-self: end;
}

nav a{
    justify-self: end;
    color: white;
}
nav a:hover{
    color:#d1a894;
    text-decoration: none;
}

section{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.hero{
    height: 60%;
    width: 100%;
    position: relative;
}

.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.headline{
    position:absolute;
    top:70%;
    left:20%;
    font-size:80px; 
    transform: translate(-20%, -70%);
    color:white;
    z-index: 3;
    -webkit-transform: translate(-20%, -70%);
}

.hero::after{
    content: "";
    background: black;
    width:100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0.3;
    top:0;
    
}

#btLink{
    background-color: transparent ;
    border:transparent;
    text-transform: uppercase;
}
#btLink:hover{
    background-color: #A0522D;
    border-radius: 24px;
}

.center{
    padding-top:10%;
}

/*login modal*/
.content {
    background:  #d1a894;
    
}
.modal-body{
    height: 300px;
    background: transparent;
}
.box{
    width:300px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.box h1{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box input[type = "text"],.box input[type = "password"]{
    border: 0;
    background: none;
    display: block;
    margin:20px auto;
    text-align: center;
    border:2px solid #3498db;
    padding:14px 10px;
    width: 200px;
    outline: none;
    color:white;
    border-radius:24px;
    transition: 0.25s;
}

.box input[type = "text"]::placeholder,.box input[type = "password"]::placeholder{
    color:white;
}

.box input[type = "text"]:focus,.box input[type = "password"]:focus{
    width: 280px;
    border-color:#2ecc71;
}
.box input[type = "submit"]{
    border: 0;
    background: none;
    display: block;
    margin:20px auto;
    text-align: center;
    border:2px solid #3498db;
    padding:14px 10px;
    width: 200px;
    outline: none;
    color:white;
    border-radius:24px;
    transition: 0.25s;
    cursor: pointer;
}

.box input[type = "submit"]:hover{
    background:#2ecc71;
}